@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  max-height: 650px;
}
.products img {
  height: 500px;
}
.fot {
  position: relative;
}
.fot-abs {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: aliceblue;
  border-radius: 15px;
  padding: 10px;
  width: 80%;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 0;
}
